{% extends "base.html" %}
{% load static %}

{%block styles %}
    <title>Home | Nova</title>
{% endblock %}

{% block pages %}
    <li><a href="{% url 'main:index'%}">Home</a></li>
    <li><a href="{% url 'main:about'%}">About Us</a></li>
    <li><a href="{% url 'main:services'%}">Services</a></li>
    <li><a href="{% url 'main:raw_images'%}">Raw Images</a></li>
    <li><a href="{% url 'main:weather'%}">Weather</a></li>
    <li><a href="{% url 'main:blogs'%}">Blog</a></li> 
    <li><a href="{% url 'main:contact'%}">Contact</a></li>
    
{% endblock %}


{% block title%}
  <section class="title">
    <div class="container">
      <div class="row-fluid">
        <div class="span6">
          <h1>Admin Panel</h1>
        </div>
      </div>
    </div>
  </section>
  <!-- / .title --> 
{% endblock %}


{% block content %}
    {% if success %}
        <div class="alert alert-dismissable alert-success mb-0 rounded-0" id="success-update">
            <button aria-hidden="true" class="close" id="close" data-dismiss="alert" type="button">×</button>
            {% if not saccess%}
                Блог успешно загружен!
            {% else %}
                Категория успешно добавлена!
            {% endif %}
        </div>
    {% endif %}

    <div class="container">
        <div class="row">
            
            <form method="post" action="{% url 'main:admin-panel'%}" class="comment add-blog-form" enctype="multipart/form-data">{% csrf_token %}
                <h2 class="form-header">Добавить блог</h2>
                {% if error_code == "2" %}
                    <h2 style="color:red;font-size:17px;text-align:center;">{{upload_error}}</h2>
                {% endif %}
                <div class="form-block">
                    <div class="form-group">
                        <label for="title">Описание</label>
                        <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp" placeholder="Введите описание блога">
                    </div>
                    <div class="form-group">
                        <label for="category">Категория</label>
                        <select multiple class="form-control" name="category" id="category">
                            {% for category in categories%}
                                <option value="{{category.name}}">{{category.name}}</option>
                            {%endfor%}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="image">Картинка новости</label>
                        <input type="file" class="form-control-file" name="preview" accept=".gif,.jpg,.jpeg,.png" id="image">
                        {% if error_code == "1" %}
                            <span style="color:red;font-family:auto;">{{upload_error}}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="form-block">
                    <div class="form-group">
                        <label for="desc">Текст</label>
                        <textarea rows="15" cols="12" style="resize:none;width:100%;" type="text" class="form-control" name="description" id="desc" placeholder="Введите текст блога"></textarea>
                    </div>
                </div>
                
                <button type="submit" class="btn btn-primary m-10">Сохранить</button>
            </form>

             <form method="post" action="{% url 'main:add-category'%}" class="comment add-blog-form" enctype="multipart/form-data">{% csrf_token %}
                <h2 class="form-header">Добавить Категорию</h2>
                <div>
                    <div class="form-group" style="width:95%;padding:10px">
                        <label for="category_name">Название</label>
                        <input type="text" class="form-control" name="name" id="category_name" aria-describedby="emailHelp" placeholder="Введите название категории" style="width:100%">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary m-10">Сохранить</button>
            </form>
            
            
        </div>
    </div>        
    <script type="text/javascript">
        $("#admin").addClass("active");
        var modal = document.getElementById("success-update");
        var btn = document.getElementById("close");

        if(btn){
            btn.onclick = function() {
                modal.style.display = "none";
            };
        }
    </script>
{% endblock %}