{% extends "base.html" %}
{% load static %}

{%block styles %}
    <title>Blog | Nova</title>
{% endblock %}

{% block title%}
    <section class="title">
        <div class="container">
            <div class="row-fluid">
                <div class="span6">
                    <h1>Blog</h1> {%if current_category %}Category: {{current_category.name}}{%endif%}
                    
                </div>
                <div class="span6">
                    <ul class="breadcrumb pull-right">
                        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                        <li class="active">Blog</li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- / .title -->
{% endblock %}

{% block pages %}
    <li><a href="{% url 'main:index'%}">Home</a></li>
    <li><a href="{% url 'main:about'%}">About Us</a></li>
    <li><a href="{% url 'main:services'%}">Services</a></li>
    <li><a href="{% url 'main:raw_images'%}">Raw Images</a></li>
    <li><a href="{% url 'main:weather'%}">Weather</a></li>
    <li class="active"><a href="{% url 'main:blogs'%}">Blog</a></li> 
    <li><a href="{% url 'main:contact'%}">Contact</a></li>
    
{% endblock %}

{% block content %}
    <section id="about-us" class="container main">
        <div class="row-fluid">
            <div class="span8">
                <div class="blog">
                    {% if blogs%}
                        {% for blog in blogs %}
                            <div class="blog-item well">
                                <a href="{% url 'main:blog' blog.id%}"><h2>{{blog.title}}</h2></a>
                                <div class="blog-meta clearfix">
                                    <p class="pull-left">
                                    <i class="icon-user"></i> by <a href="#">{{blog.owner.username}}</a> |  <i class="icon-calendar"></i> Sept 16th, 2012 <i class="icon-eye-open"></i> {{blog.views}}
                                </p>
                                <p class="pull-right"><i class="icon-comment pull"></i> <a href="blog-item.html#comments">{{blog.comments.all|length}}</a></p>
                            </div>
                            <p><img src="{{blog.img_url}}" width="100%" alt="" /></p>
                            <p>{{blog.description|slice:"0:120"}}...</p>
                            <a class="btn btn-link" href="{% url 'main:blog' blog.id%}">Read More <i class="icon-angle-right"></i></a>
                        </div>
                        <!-- End Blog Item -->
                    {% endfor %}
                  {% else %}
                        <h3 style="margin:10px auto;text-align:center">Ничего не найдено!</h3>
                  {%endif%}

              <div class="gap"></div>

              <!-- Paginationa -->
              {% if blogs%}
                <div class="pagination">
                    <ul>
                        {% for page in pages%}
                            {% if page == blocks.number %}
                                <li class="active">
                                    <span>{{page}}</span>
                                </li>
                            {% else %}
                                <li>
                                    <a href="?page={{page}}"> {{page}} </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
              {% endif %}


        </div>
    </div>
    <aside class="span4">
        

        <div class="widget ads">
            <div class="row-fluid">
                <div class="span6">
                    <a href="#"><img src="images/ads/ad1.png" alt=""></a>
                </div>

                <div class="span6">
                    <a href="#"><img src="images/ads/ad2.png" alt=""></a>
                </div>
            </div>
            <p> </p>
            <div class="row-fluid">
                <div class="span6">
                    <a href="#"><img src="images/ads/ad3.png" alt=""></a>
                </div>

                <div class="span6">
                    <a href="#"><img src="images/ads/ad4.png" alt=""></a>
                </div>
            </div>
        </div>
        <!-- /.ads -->

        <div class="widget widget-popular">
            <h2 style="text-align:center">Popular Posts</h2>
            <div class="widget-blog-items">
                {% for popular_blog in popular_blogs %}
                    <div class="row-fluid" style="position:relative;margin-top:15px">
                        <div class="span4 popular-date">
                            {{popular_blog.pub_date}}
                        </div>
                        <div class="span8 popular-text">
                            <span>{{popular_blog.title}}</span>
                        </div>
                        <a class="hidden-link" href="{% url 'main:blog' popular_blog.id %}"></a>
                    </div>
                {% endfor %}
            </div>  
                                  
        </div>
        <!-- End Popular Posts -->        

        <div class="widget">
            <h2 style="text-align:center">Blogs Categories</h2>
            <div>
                <div class="row-fluid">
                    <div>
                        <ul class="unstyled" style="padding-left: 13%;">
                            {% for category in categories%}
                                <li><a href="{% url 'main:blog_category' category.id%}">{{category.name}}</a></li>
                            {%endfor%}
                        </ul>
                    </div>
                </div>
            </div>                       
        </div>
        <!-- End Category Widget -->   

    </aside>
    </div>

    </section>
{% endblock %}